.footer {
  background-color: mediumaquamarine;
  padding: 4rem 0;
  &-container {
    // background-color: mediumorchid;
  }
  &-row {
    // background-color: mediumseagreen;
    display: flex;
    justify-content: center;
    // align-items: center;
  }
  &-col {
    // background-color: moccasin;
    h4 {
      text-transform: uppercase;
      // color: white;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 1.6rem;
      // background-color: blueviolet;
      margin-bottom: 2.5rem;
    }
    li {
      // background-color: sandybrown;
      color: black;
      font-size: 1.4rem;
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
    p {
      color: black;
      font-size: 1.6rem;
      margin-top: 1rem;
    }
  }
  &-icons {
    margin: 3rem 0 4rem 0;
  }
  &-icon {
    padding: 1.3rem 1rem;
    background-color: white;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  &-newsletter {
    margin-top: 3rem;
    margin-bottom: 1rem !important;
  }
  &-input-container {
    // background-color: yellow;
    input {
      background-color: inherit;
      padding: 0.5rem 1rem;
      font-size: 1.6rem;
      border: 1px solid red;
      width: 70%;
    }
  }
  &-bottom {
    padding: 0 4.5rem;
    p {
      color: black;
      font-size: 1.2rem;
    }
    .footer-bottom-payments {
      margin-top: 1.5rem;
    }
    img {
      width: 2%;
      margin-right: 1rem;
    }
  }
}
