// COLORS
$black1: #232323;
$black2: #1e1e1e;
$black3: #3b3b3b;
$black4: #3c3c3c;
$white1: #ffffff;
$white2: #f8f8f8;
$grey1: #7b7876;
$grey2: #969696;
$grey4: rgb(244, 242, 242);
$grey3: rgba($black4, 0.2);
$red: #ef6454;
$blue: #06bfe2;
